body {
    background-color: #F8F9FA;
}

.navbar {
    height: 15vh;
}

@media(max-width: 768px) {
    .navbar {
        height: 40vh;
    }
}


.main-icon {
    width: 19vh;
}

#sort-by-btn {
    background-color: #d3d3d3;
}

.sorting-btn {
    background-color: #d3d3d3;
}

.sorting-btn.clicked {
    background-color: #DC3545;
    color: white;
}

#video-container {
    display: flex;
    justify-content: center;
    gap: 5vh;
    align-items: center;
    flex-wrap: wrap;
}

#video-container p{
    font-size: 15px;
}

.video {
    width: 20vw;
    height: 20vh;
}

@media(max-width: 768px) {
    .video {
        width: 80vw;
        height: 20vh;
    }
}

.profile-picture {
    width: 4vw;
    height: 8vh;
    border-radius: 50%;
    overflow: hidden;
}

@media(max-width: 768px) {
    .profile-picture {
        width: 20vw;
        height: 10vh;
    }
}

.verify-icon {
    width: 1.5vw;
}

@media(max-width: 768px) {
    .verify-icon {
        width: 6vw;
    }
}