body {
    background-image: url('../PHero-Tube-main/_9d270e0e-4928-4e41-8601-602cadcc858a.jpg');

    background-size: cover;
}

.dropdown-container {
    position: relative;
    top: 12vh;
    display: grid;
    place-items: center;

}

.btn {
    width: 100%;
    margin: 2px;
}
