body {
    background-color: darkslategray;

    background-size: cover;
}

.dropdown-container {
    position: relative;
    top: 12vh;
    display: grid;
    place-items: center;

}

.btn {
    width: 100%;
    margin: 2px;
}
